/war/hello/
/war/showcase/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/
/war/WEB-INF/lib/gwt-servlet.jar
/war/WEB-INF/jribble
/war/WEB-INF/showcase
/bin
.scala_dependencies
.settings/
jribbleCache
gwt-unitCache
